#contact .form-control{
    background-color: rgb(38, 85, 38);
}
#contact .form-control:focus{
    /* background-color: rgb(38, 85, 38);
     */
     border: 2px solid rgb(15, 255, 7);
     /* border-color: rgb(195, 253, 48); */
    box-shadow: none;
}
#contact{
    background-color: rgb(4, 51, 4);
}
h1{
    color: #000;
    font-size: medium;
}
hr{
    background-color: aqua;
}
.h1-header{
    font-weight: 400;
    font-size: larger;
}