@import 'bootstrap/dist/css/bootstrap.min.css';
.App{
    background-color: rgb(4, 51, 4)
}
.page{
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease;
}
.page-enter{
   transform: translateX(0);
}
/* .page-enter-active{
    transform: translateX();
} */
.page-exit{
    transform: translateX(-100%);
}
/* .page-exist-active{
    transform: translateX(-100%);
} */